<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Source\Stitch-AspNet\packages.config" />
  <repository path="..\Source\Stitch\packages.config" />
  <repository path="..\Source\Stitch.Core\packages.config" />
  <repository path="..\Source\Stitch.Tests.Web.Mvc3\packages.config" />
</repositories>