<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="stitch" type="Stitch.Web.StitchConfigurationSection, Stitch.Web"/>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add type="Stitch.Web.StitchHttpHandler, Stitch.Web" verb="*" path="*.stitch" />
    </httpHandlers>
  </system.web>

  <stitch>
    <paths>
      <path>scripts/app</path>
    </paths>

    <dependencies>
      <file>lib/dep.js</file>
    </dependencies>

    <compilers>
      <compiler type="Stitch.Compilers.CoffeeScriptCompiler, Stitch.Core"/>
      <compiler type="Stitch.Compilers.JavaScriptCompiler, Stitch.Core"/>
    </compilers>

    <files>
      <file name="/application.stitch">
        <paths>
          <path>app</path>
        </paths>

        <dependencies>
          <file>lib/dep.js</file>
        </dependencies>
      </file>
    </files>
  </stitch>

</configuration>
